{% extends 'main.j2' %}

{% block header %}

{% endblock %}

{% block content %}

    {#    Tablet and Desktop View with 1:5 columns spread#}
    <div class="grid gap-x-12 grid-cols-5 pl-4 pr-16">

        <div class="pt-16">

            {#            Navigation for Tablet and Desktop#}
            {% include 'components/flex-nav.j2' with context %}
        </div>

        {#    main body#}
        <div class="col-span-4">

            <div class="grid grid-rows-12">

                {#                    Search Bar#}
                {% include 'components/search.j2' %}

                <div><h2 class="font-serif font-bold text-3xl pl-16 pt-4">{% block title %}
                    My Uploads {% endblock %}</h2></div>
                <div class="row-span-9 pt-4">
                    <main class="flex flex-col items-center justify-center flex-grow px-4 bg-white rounded-lg pt-4 pb-8">
                        <h3>Welcome, User.</h3>

                        {% include 'components/my-uploads-table.j2' %}




                    </main>
                </div>

                {#            footer#}
                <div></div>
            </div>
        </div>
    </div>



    <script>
        document.querySelectorAll('.delete-post').forEach(function (link) {
            link.addEventListener('click', function (e) {
                e.preventDefault();
                let postId = e.target.getAttribute('data-post-id');
                fetch('/posts/' + postId, {
                    method: 'DELETE',
                    headers: {
                        'Content-Type': 'application/json',
                        //Include other necessary request headers
                    },
                    body: JSON.stringify({id: postId}),
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            //Delete was successful, remove row from the table
                            e.target.parentElement.parentElement.remove();
                        } else {
                            //Delete was unsuccessful, handle error
                            console.error("Error deleting post: ", data.error);
                        }
                    });
            });
        });
    </script>


{% endblock %}