{% extends 'main.j2' %}

{% block header %}
    <h2 class="text-center font-serif font-bold text-3xl">{% block title %} My Uploads {% endblock %}</h2>
{% endblock %}

{% block content %}
    <main class="flex flex-col items-center justify-center flex-grow">

        <h4 class="font-serif font-bold">Your Uploaded Files</h4>
        <table>
            <tr class="text-bold">
                <th>Title</th>
                <th>Created At</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <td><a href="{{ post.self }}">{{ post.title }}</a></td>
                </tr>
                <tr>
                    <td>{{ post.created_at }}</td>
                </tr>
            {% endfor %}
        </table>
    </main>


{% endblock %}