<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{% block title %}{% endblock %} Soda Sofa Art </title>

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://www.sodasofa.art/posts/{{ post.id }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ post.title }}">
    <meta property="og:description" content="{{ post.description }}">
    <meta property="og:image"
          content="https://opengraph.b-cdn.net/production/documents/c37b8943-ca33-4d4e-99ee-65da35577e12.png?token=3Ysvbd4xPURcc5_zlbqkhZJN8MFY0mGmkF-J50A2tJc&height=449&width=1000&expires=33242120247">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="sodasofa.art">
    <meta property="twitter:url" content="https://www.sodasofa.art/posts/{{ post.id }}">
    <meta name="twitter:title" content="{{ post.title }}">
    <meta name="twitter:description" content="{{ post.description }}">
    <meta name="twitter:image"
          content="https://opengraph.b-cdn.net/production/documents/c37b8943-ca33-4d4e-99ee-65da35577e12.png?token=3Ysvbd4xPURcc5_zlbqkhZJN8MFY0mGmkF-J50A2tJc&height=449&width=1000&expires=33242120247">

    <!-- Meta Tags Generated via https://www.opengraph.xyz -->

</head>


<body class="overflow-x-hidden overflow-y-auto">

{#Background svg#}
<svg xmlns="http://www.w3.org/2000/svg" width="430" height="83" fill="none" style="position: absolute; z-index: -1;">
    <g filter="url(#filter0_b_2_20)">
        <path d="M587 -469.097C587 -324.452 349.352 83 64.6495 83C-220.053 83 -444 -324.452 -444 -469.097C-444 -613.742 -213.203 -731 71.5 -731C356.203 -731 587 -613.742 587 -469.097Z"
              fill="url(#paint0_linear_2_20)" fill-opacity="0.6"/>
    </g>
    <defs>
        <filter id="filter0_b_2_20" x="-448" y="-735" width="1039" height="822" filterUnits="userSpaceOnUse"
                color-interpolation-filters="sRGB">
            <feFlood flood-opacity="0" result="BackgroundImageFix"/>
            <feGaussianBlur in="BackgroundImageFix" stdDeviation="2"/>
            <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_2_20"/>
            <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_2_20" result="shape"/>
        </filter>
        <linearGradient id="paint0_linear_2_20" x1="84.0041" y1="-725.856" x2="84.0041" y2="-202.05"
                        gradientUnits="userSpaceOnUse">
            <stop stop-color="#D4B1FF"/>
            <stop offset="0.585069" stop-color="#CDACB8" stop-opacity="0.816059"/>
            <stop offset="1" stop-color="#E99C28" stop-opacity="0.35"/>
        </linearGradient>
    </defs>
</svg>

<h1 class="text-custom-orange-default font-serif text-2xl">Soda Sofa. Art</h1>

{#Navigation#}
<nav>
    <ul>
        <li><a href="{{ url_for('dashboard') }}" class="underline text-custom-orange-default hover:text-custom-orange-dark">Home</a></li>
    </ul>
</nav>

<h2 class="text-center font-serif font-bold text-3xl">{{ post.title }}</h2>
<h3 class="text-center font-serif">Posted by User</h3>
{#Body#}
<section class="w-full px-16 flex flex-col items-start">
    <p class="w-full text-left max-w-prose mx-auto"><strong>Description:</strong> {{ post.description }}</p>
    <p class="w-full text-left max-w-prose mx-auto mt-2"><strong>Created at:</strong> {{ post.created_at }}</p>
    <p class="w-full text-left max-w-prose mx-auto mt-2"><strong>Category:</strong> {{ post['post-type'] }}</p>
    <p class="w-full text-left max-w-prose mx-auto mt-2"><strong>URL (if any):</strong> <a href="{{ 'http://' if 'http://' not in post.url and 'https://' not in post.url else '' }}{{ post.url }}"
   target="_blank" class="underline text-custom-orange-default hover:text-custom-orange-dark">{{ post.url }}</a></p>
<p class="w-full text-left max-w-prose mx-auto mt-2"><strong>Share URL</strong>:<input type="text" class="form-input" id="textboxToCopy" value="https://www.sodasofa.art/posts/{{ post.id }}">
    <button id="copyButton" class="bg-custom-orange-default hover:bg-custom-orange-dark text-bold text-white  px-2 py-1 ease-in duration-200" onclick="copyText()">Copy</button></p>
</section>

<!-- Footer Section -->
{#<footer class="w-full bg-black bg-opacity-20 text-black flex items-center justify-center">#}
{#    site created by <a href="http://www.devmichelle.io" target="_blank"> michelle</a>#}
{#</footer>#}


<script>
    function copyText() {
        /* Get the text field */
        var copyText = document.getElementById("textboxToCopy");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); // For mobile devices

        /* Copy the text inside the text field */
        document.execCommand("copy");

        /* Get the copy button */
        var copyButton = document.getElementById("copyButton");

        /* Update the button text */
        copyButton.innerHTML = "Copied!";

        /* After 5 seconds, revert the button text back to "Copy" */
        setTimeout(function() {
            copyButton.innerHTML = "Copy";
        }, 2000);
    }
</script>
</body>
</html>