{% extends 'main.j2' %}

{% block header %}

{% endblock %}

{% block content %}

    {#    Tablet and Desktop View with 1:5 columns spread#}
    <div class="grid gap-x-12 grid-cols-5 pl-4 pr-16">

        <div class="pt-16">

            {#            Navigation for Tablet and Desktop#}
            {% include 'components/flex-nav.j2' with context %}
        </div>

        {#    main body#}
        <div class="col-span-4">

            <div class="grid grid-rows-11">



                <div><h2 class="font-serif text-center font-bold text-3xl pl-16 pt-4">{% block title %}
                    Upload New Post {% endblock %}</h2></div>
                <div class="row-span-9 pt-4">
                    <main class="flex flex-col items-center justify-center flex-grow">

                        {#        upload form#}
                        {% include 'components/upload-form.j2' %}


                    </main>
                </div>

                {#            footer#}
                <div></div>
            </div>
        </div>
    </div>

    <script>
    document.getElementById('uploadForm').addEventListener('submit', function (event) {
        event.preventDefault();

        let formData = new FormData(event.target);

        // Disable the submit button
        document.getElementById('submitButton').disabled = true;

        fetch('/posts', {
            method: 'POST',
            body: formData
        }).then(response => response.json()) // Convert response to JSON
            .then(data => {
                // Assuming the server responds with the new post's ID or URL in the JSON response
                if (data.success && data.redirectUrl) {
                    // Redirect to the new post's URL
                    window.location.href = data.redirectUrl;
                } else {
                    // Handle the case where the post wasn't successfully created
                    console.log('Failed to upload post');
                }

                // Enable the submit button again in case something went wrong
                document.getElementById('submitButton').disabled = false;
            }).catch(error => {
            // Handle any errors that occurred during the fetch
            console.error('Error:', error);

            // Enable the submit button again in case something went wrong
            document.getElementById('submitButton').disabled = false;
        });
    });
</script>


{% endblock %}

