                <div class="items-center flex justify-center">
                    <input type="text"
                           class="form-input border rounded-full border-grenadier-400 focus:border-grenadier-800 w-2/3"
                           placeholder="Search" name="search">
                </div>